<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
  <title>Train Router</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
  <div id="container">
    <div class="dualbrand"></div>
    <div id="content">
      <ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
    </div>
    <div id="footer">
    </div>
  </div>
</h:body>
</html>
