<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" template="/templates/default.xhtml">
  <ui:define name="content">
    <h1>Bem vindo ao portal de Consulta de Rotas de Trem!</h1>
    <p:growl id="messages" showDetail="true" />

    <p:tabView>
      <p:tab title="Carregar caminhos">
        <p:outputPanel id="uploadPanel" rendered="#{not empty request.remoteUser}">
          <h:form enctype="multipart/form-data">
            <p:outputLabel value="Selecione o arquivo:" for="graph" />
            <p:fileUpload value="#{trainRouter.file}" mode="simple" skinSimple="true" />
            <p:commandButton value="Upload" ajax="false" actionListener="#{trainRouter.upload}" />
            <br></br>
            <br></br>
            <p:outputLabel value="Ou digitando no formato correto:" for="graph" />
            <p:inputText id="graph" value="#{trainRouter.typedGraph}" />
            <p:commandButton value="Carregar" ajax="false" action="#{trainRouter.loadTypedGraph()}" />
            <br></br>
            <br></br>
          </h:form>
        </p:outputPanel>
      </p:tab>

      <p:tab title="Cálculo de distância por caminho escolhido">
        <h:form enctype="multipart/form-data">
          <p:outputLabel value="Informe as cidades que você deseja passar:" for="path" />
          <p:autoComplete id="path" multiple="true" completeMethod="#{trainRouter.selectedTown}" var="town" itemLabel="#{town.name}"
            itemValue="#{town}" forceSelection="true" converter="townConverter">
            <p:ajax event="itemSelect" listener="#{trainRouter.onSelectedTown}" update="pathCalculation" />
            <p:ajax event="itemUnselect" listener="#{trainRouter.onUnselectedTown}" update="pathCalculation" />
            <p:column>
              <h:outputText value="#{town.name}" />
            </p:column>
          </p:autoComplete>
          <br></br>
          <p:outputLabel id="pathCalculation" value="Distancia total: #{trainRouter.pathCalculated}" />
          <br></br>
          <br></br>
        </h:form>
      </p:tab>

      <p:tab title="Caminhos Possíveis">
        <h:form enctype="multipart/form-data">
          <p:outputLabel value="Informe a cidade de origem:" for="inputOrigin" />
          <p:autoComplete id="inputOrigin" value="#{trainRouter.originTown}" completeMethod="#{trainRouter.selectedTown}" var="town"
            itemLabel="#{town.name}" itemValue="#{town}" forceSelection="true" converter="townConverter">
            <p:ajax event="itemSelect" listener="#{trainRouter.onSelectedTown}" />
          </p:autoComplete>
          <br></br>
          <br></br>
          <p:outputLabel value="Informe a cidade de destino:" for="inputDestination" />
          <p:autoComplete id="inputDestination" value="#{trainRouter.destinationTown}" completeMethod="#{trainRouter.selectedTown}" var="town"
            itemLabel="#{town.name}" itemValue="#{town}" forceSelection="true" converter="townConverter">
            <p:ajax event="itemSelect" listener="#{trainRouter.onSelectedTown}" />
          </p:autoComplete>
          <br></br>
          <br></br>
          <p:accordionPanel>
            <p:ajax event="tabChange" listener="#{trainRouter.onTabChange}" />
            <p:tab id="parameterFilter" title="Filtros">
              <p:fieldset legend="Campo" style="margin-bottom:20px">
                <p:selectOneRadio id="campo" value="#{trainRouter.tripFilterField}">
                  <f:selectItem itemLabel="Paradas" itemValue="JUMPS" />
                  <f:selectItem itemLabel="Distância" itemValue="DISTANCE" />
                </p:selectOneRadio>
              </p:fieldset>
              <br></br>
              <p:fieldset legend="Grandeza" style="margin-bottom:20px">
                <p:selectOneRadio id="campoGrandeza" value="#{trainRouter.tripFilterGreatness}">
                  <f:selectItem itemLabel="Menor que" itemValue="LESS_THAN" />
                  <f:selectItem itemLabel="Exato" itemValue="EXACTLY" />
                  <f:selectItem itemLabel="No máximo" itemValue="MAXIMUM" />
                </p:selectOneRadio>
              </p:fieldset>
              <br></br>
              <p:outputLabel value="Valor para o filtro:" for="filterValue" />
              <p:inputNumber id="filterValue" value="#{trainRouter.tripFilterValue}" />
            </p:tab>
            <p:tab id="minimumPath" title="Menor Caminho">
            </p:tab>
          </p:accordionPanel>
          <br></br>
          <p:commandButton id="calculePaths" value="Calcular" action="#{trainRouter.calculePaths()}" update="outputPaths" />
          <br></br>
          <p:outputLabel id="outputPaths" value="Caminho(s): #{trainRouter.paths}" />
          <br></br>
          <br></br>
        </h:form>
      </p:tab>

    </p:tabView>

  </ui:define>
</ui:composition>
