<?xml version="1.0" encoding="UTF-8"?>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
  xmlns:h="http://java.sun.com/jsf/html" xmlns:p="http://primefaces.org/ui" template="/templates/default.xhtml">
  <ui:define name="content">
    <h1>Bem vindo ao portal de Consulta de Rotas de Trem!</h1>


    <h:form id="login" onsubmit="document.getElementById('login').action='j_security_check';" prependId="false">
      <h:panelGrid columns="2">
        <p:outputLabel for="j_username" value="Username" />
        <p:inputText id="j_username" name="j_username" />
        <p:outputLabel for="j_password" value="Password" />
        <p:password id="j_password" name="j_password" />
        <p:commandButton id="submit" value="Login" ajax="false" />
      </h:panelGrid>
    </h:form>
  </ui:define>
</ui:composition>
